<%- include("../partials/top.ejs") %>

<div class="centerbox">
    <div id="textpost">
        <h1><%= title %></h1>
        <p><%= content %></p>
    </div>
</div>

<% if(flag != "blank") { %>
<style>
    body {
        background-image: url("/images/<%= flag %>.png");
        background-position: center;
        background-size: cover;
    }
</style>
<% } %>

<%- include("../partials/bottom.ejs") %>